body {
    background-color: darkslategray;
    color: rgb(255, 213, 176);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    height:100%;
    width:100%;
}

#header {
    background-color: darkslategray;
    width: 100%;
    position: fixed;
    top: 0px;
    min-height: 75px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:-10px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fas {
    padding-right: 35px;
    font-size: 35px;
}


nav {
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    padding-right: 50px;
}

a {
    color:mintcream;
    text-decoration: none;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 50px;
    padding-top: 100px;
    text-align: center;
}

input[type="email"] {
    width: 100%;
    padding: 5px;
}

input[type="submit"] {
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: mintcream;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #f1c40f;
    transition: background-color 0.5s;
}

#feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: mintcream;
    color:darkslategray;
    padding: 15px 0 5px 0;
    margin: 80px 0 80px -10px;
}


.feature-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 25px;
}

#product-vid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video {
    padding: 50px 0 80px 0;
}

#product {
    background-color: mintcream;
    color: darkslategray;
    padding: 80px 0 80px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-left: -10px;
}

.product {
    border: 1px solid #000;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 10px;
    padding-bottom: 20px;
    width: calc(100%  / 5);
    align-items: center;
    justify-content: center;
}

.price-title {
    background-color:peachpuff;
    padding: 15px 0;
    width: 100%;
}

.product ul {
    text-align: center;
}

.product ul li {
    list-style-type: square;
    padding-bottom: 5px;

}

button {
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color:peachpuff;
    color: darkslategray;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    width: calc(100% /3 );
}

button:hover {
    background-color: #f1c40f;
    transition: background-color 0.5s;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 0 50px 15px 0;
}

footer ul {
    display: flex;
    flex-direction: row;    
}

footer ul li {
    list-style:none;
    padding-left: 18px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width:600px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }
    nav li {
        padding-bottom:5px;
    }
    h2 {
        font-size: 23px;
    }
    #product {
        flex-direction: column;
    }
    .product {
        width: calc(100%/2);
    }
}

@media screen and (min-width:600px) and (max-width:950px) {
    #product {
        flex-direction: column;
    }
    .product {
        width: calc(100%/2);
    }
}


