body {
    background-color: darkslategray;
    color: rgb(255, 213, 176);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    height:100%;
    width:100%;
}

/* Header Area */
#header {
    background-color: darkslategray;
    width: 100%;
    position: fixed;
    top: 0px;
    min-height: 75px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fas {
    padding-right: 35px;
    font-size: 35px;
}


nav {
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    padding-right: 80px;
}

a {
    color: seashell;
    text-decoration: none;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 50px;
    padding-top: 100px;
    text-align: center;
}

input[type="email"] {
    width: 100%;
    padding: 5px;
}

input[type="submit"] {
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: mintcream;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #f1c40f;
    transition: background-color 0.5s;
}

#feature {
    margin: 80px 525px 100px 525px;
}

.feature-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

